


.text {
    color: rgb(231, 13, 147);
}

.music {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}

#typewriter-title,
#typewriter-content {
    text-align: center;
    margin: 6px 0;
}

/* Musik dan putar lagu */
.radius {
    position: relative;
    width: fit-content;
    text-align: center;
}

.music-icon {
    font-size: 27px;
    color: blue;
    background-color: transparent;
    border-radius: 50%;
    padding: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.music-circle {
    position: absolute;
    bottom: -10px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    z-index: -1;
    display: none;
}

.radius:hover .music-circle {
    display: block;
}

.song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.song-list li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid #e0e0e0;
}

.song-list li:last-child {
    border-bottom: none;
}

.song-list li:hover {
    background-color: #f0f0f0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.control-button {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.control-button:hover {
    transform: scale(1.2);
}

.modal-content {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.modal-header {
    background-color: #5c6bc0;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-body {
    padding: 20px;
}

.btn-close {
    color: #ffffff;
}

.btn-close:hover {
    color: #f0f0f0;
}

@media (max-width: 768px) {
    .container-music {
        padding: 10px;
    }

    .music {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .music-icon {
        font-size: 20px;
        padding: 10px;
    }

    .control-button {
        font-size: 20px;
        margin: 5px;
    }
}